  //Color
  
  $primay-color: #000000;
  $secondary-color: #ffffff;
  $white-darken: #e6e3e3;
  $gray: #262e2c;
  $green-dark: #29463e;
  $green-darken: #181f1c31;
  $light-green: #687773;
  $shadow: rgba(57, 63, 72, .3);
  $link-hover: #cf316e;
  $form-color: #913068;

  //Font

  $font12: 12px;