.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  position: relative;
  width: calc(100% / 4);
  margin: 1rem;
  padding: .5rem;

  background-color:var(--white-darken) ;
  border-radius: 1rem;

  color: var(--link-hover);
}

.img_slider {
  border-radius: 100px;
}

.swiper-button-prev::after {
  color: var(--link-hover);
}

.swiper-button-next::after {
  color: var(--link-hover);
}

.swiper {
  z-index: -1;
}